* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 0;
}

.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides-aboutMe {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.prev-aboutMe,
.next-aboutMe {
  font-size: 30px;
  position: absolute;
  top: 50%;
  background: transparent;
  color: #ee1f23;
  outline: none;
  border: none;
}

.prev-aboutMe {
  left: 0;
}
.next-aboutMe {
  right: 0;
}

.prev-aboutMe:focus,
.next-aboutMe:focus {
  outline: none;
}
/* ------------------- */
.slideshow-container-library {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slideshow-wrapper-library {
  overflow: hidden;
  width: 100%;
}

.slides-library {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-library {
  flex: 0 0 33.33%;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.slide-library img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.slide-caption-library {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

button.prev-library,
button.next-library {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

button.prev-library {
  left: 10px;
}

button.next-library {
  right: 10px;
}

@media (max-width: 768px) {
  .slide-library {
    flex: 0 0 33.33%;
  }
  .slide-library img {
    object-fit: contain;
  }
}

/* --------------------about us ----------------*/
.about-me {
  position: relative;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  gap: 20px;
  display: flex;
}

.about-me__left {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.about-me__logo {
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 70px;
  align-items: center;
  position: relative;
}

.about-me__logo p {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.about-me__vector {
  height: 60%;
  position: absolute;
  z-index: 3;
  left: -9%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-me__item {
  width: 60%;
  height: 30%;
  background-color: #265bc5;
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: 5%;
}

.about-me__right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.about-me__right a {
  color: #ee1f23;
  text-decoration: none;
  letter-spacing: 0.2cm;
}

.about-me__right h2 {
  font-weight: bold;
}

.about-me__right p {
  font-family: "Mulish", sans-serif;
}

.about-me__button {
  display: inline-flex;
}

.about-me__button a {
  padding: 14px 51px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  background-color: #ee1f23;
  transition: 1s;
  text-decoration: none;
}

.about-me__button a:hover {
  background-color: #efefef;
  color: #000;
  transition: 1s;
  outline: none;
}

.about-me__button button {
  padding: 0 15px;
  border: none;
  outline: none;
}

/* ------------------skills------------- */

.skills {
  padding: 20px 0;
  background-image: url("../image/banner__services.png");
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

#skills-content {
  display: flex;
  flex-wrap: wrap;
}

.skills-items {
  background: #fff;
  box-sizing: border-box;
  flex: 0 0 50%;
}

.skills-items:hover {
  background-color: #265bc5;
  transition: 1s;
}

.skills-items:hover h4,
.skills-items:hover li,
.skills-items:hover i,
.skills-items:hover p {
  color: #fff;
  transition: 1s;
}

.items__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.items__top i {
  font-size: 65px;
  color: #ee1f23;
}

.items__top img {
  height: 100%;
}

.items__bottom {
  padding: 0px 50px;
}

.items__bottom h4 {
  color: #265bc5;
  font-weight: bold;
}

/* --------------user---------------- */

.picture__item {
  width: 80%;
  height: 25%;
  background-color: #265bc5;
  position: absolute;
  bottom: -5%;
  right: 10%;
  color: #fff;
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
}

.vector__item {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
/* --------Contact------------- */

.contact {
  padding: 20px 0;
  background-image: url("../image/banner__services.png");
  position: relative;
  display: flex;
  align-items: center;
}

.contact:before {
  content: "";
  background-color: #265bc5;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.contact__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.contact__item i {
  margin: auto;
  font-size: 45px;
  color: #b1fffa;
}

.contact__item {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact__item a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

::selection {
  background: #b2ccff;
  color: #000;
}

/* slider__css */

#timeline-project {
  position: relative;
  padding-top: 50px;
}

#timeline-project:before {
  content: "";
  background-image: url("../image/winding-arrow-blue.webp");
  position: absolute;
  top: 10%;
  left: -10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 38px;
}

.arrow-red {
  position: absolute;
  bottom: 10%;
  right: 0%;
  width: 150px;
  height: 38px;
  z-index: -1;
  opacity: 0.5;
}

.arrow-red img {
  width: 100%;
  height: 100%;
}

#timeline-project::after {
  content: "";
  background-image: url("../image/timelineBg.png");
  position: absolute;
  bottom: 20%;
  right: 0%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
  height: 450px;
  z-index: -1;
  opacity: 0.1;
}

.timeline-list {
  position: relative;
  max-height: 550px;
  overflow-y: scroll;
}

.timeline {
  padding: 30px 20px;
  display: flex;
  gap: 20px;
  border: 1px solid #34ace0;
  border-radius: 30px;
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
  flex: 1;
}

.timeline-image {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.timeline-content {
  flex: 1;
  transition: transform 0.5s ease-in-out;
  max-height: 550px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: #fff;
  padding: 15px 10px;
}

.timeline-content a {
  display: block;
  margin-bottom: 10px;
}

.timeline ul li {
  padding: 20px 20px;
  position: relative;
  transition: 0.5s;
  margin: 10px 0;
}

.timeline ul li p {
  color: #265bc5;
}

.timeline ul li:hover p {
  color: #fff;
}

.timeline ul li i {
  margin-left: 20px;
  color: #265bc5;
}

.timeline ul li:hover i {
  color: #fff;
}

.timeline ul li span {
  display: inline-block;
  background-color: #265bc5;
  border-radius: 25px;
  padding: 2px 5px;
  font-size: 15px;
  text-align: center;
  color: #fff;
}

.timeline ul li:hover span {
  background-color: #fff;
  color: #265bc5;
}

.timeline ul li .content h3 {
  color: #34ace0;
  font-size: 17px;
  padding-top: 5px;
}

.timeline ul li .content p {
  padding: 5px 0px 15px 0px;
  font-size: 15px;
}

.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #265bc5;
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}

.timeline ul li:hover {
  background-color: #265bc5;
}

.timeline ul li:hover h3 {
  color: #fff;
}

.timeline ul li:hover:before {
  background-color: #ee1f23;
  box-shadow: 0px 0px 10px 2px #ee1f23;
}

@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}
