* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------footer------------------- */

.footer__top {
  height: 478px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
}

.ourTeam_footer {
  overflow: hidden;
  position: relative;
  padding: 100px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.ourTeam_footer_text,
.ourTeam_footer_text2 {
  font-weight: 400;
  font-size: 8.75rem;
  line-height: 74%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-text-fill-color: #072736;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #072736;
  white-space: nowrap;
  font-family: monospace;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  padding-left: 150px;
  color: #072736;
}

.ourTeam_footer_text {
  animation: textSlide 20s linear 0s infinite;
  opacity: 0;
}

.ourTeam_footer_text2 {
  animation: textSlide 20s linear 10s infinite;
  opacity: 0;
}

@keyframes textSlide {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

.footer__item__right {
  width: 25%;
}

.footer__item__right h5 {
  color: #265bc5;
  margin-bottom: 15px;
}

.input__form input {
  width: 85%;
  height: 48px;
  padding-left: 10px;
  border: 1px solid #cad3df;
  background-color: #eceff4;
  outline: none;
}

.input__form {
  display: flex;
  height: 48px;
  margin-bottom: 10px;
}

.input__form button {
  padding: 8px 15px;
  border: none;
  background-color: #ee1f23;
  color: #fff;
  outline: none;
  font-size: 20px;
}

.footer__logo {
  display: none;
}

/* logo__bottom */
.logo__bottom {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  border-top: 1px solid #cad3df;
}

.logo__bottom a {
  margin: 0 20px;
}
