@media screen and (max-width: 1024px) {
  /* header */

  .header__logo__item {
    right: 0;
  }

  /* contact */
  .contact h2 {
    display: none;
  }

  .contact__content {
    right: 0;
  }

  .timeline {
    flex-direction: column;
  }
  .timeline-content {
    position: absolute;
    right: 0;
    top: 15%;
    width: 80%;
    background-color: #daedff;
    height: 80%;
    border-radius: 20px;
  }

  .ourTeam_footer_text,
  .ourTeam_footer_text2 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1025px) {
  .news__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .contact h2 {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .skills-items:hover {
    background-color: #265bc5;
    transition: 1s;
  }

  .skills-items:hover h4,
  .skills-items:hover li,
  .skills-items:hover i,
  .skills-items:hover p {
    color: #fff;
    transition: 1s;
  }
}

@media screen and (min-width: 1200px) {
  .contact h2 {
    display: block;
  }

  .about-me__logo {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1366px) {
  .header__logo__item {
    right: 5%;
  }

  .ourTeam_footer_text,
  .ourTeam_footer_text2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-toggler {
    display: none;
  }

  .header__logo__item {
    right: 5%;
  }

  /* news */
  .news {
    height: 1450px;
  }

  .news__main {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news__items {
    width: 48%;
    margin: 0;
    height: 525px;
    margin-bottom: 50px;
  }

  .news__button {
    margin-top: 0;
  }

  .news__last__items {
    display: block;
  }

  .navbar-collapse {
    height: 40%;
  }

  .my-project-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .active-img {
    display: none;
  }

  .header__logo__item-menu {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  /* header */
  #trapezium {
    width: 45%;
  }

  .active-content a:hover::before {
    display: none;
  }

  .header__logo__item {
    display: none;
  }

  .header__banner {
    padding-top: 100px;
  }

  .header__title h1 {
    font-size: 35px;
  }

  .header__title p {
    font-size: 1.2rem;
  }

  .logo__item {
    margin-right: 0;
  }

  .header__menu {
    padding-top: 20px;
    border-bottom: none;
  }

  .menu__items li {
    margin-right: 25px;
  }

  .about-me__content {
    flex-direction: column;
  }

  .about-me__logo {
    padding-right: 5px;
  }

  /* skills */

  .skills-content {
    position: absolute;
    left: 0;
    top: 12%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .skills-items {
    flex: 0 0 100%;
  }

  .skills-items:nth-child(2),
  .skills-items:nth-child(4) {
    background-color: #daedff;
  }

  .vector__item {
    display: none;
  }

  .ourTeam_footer_text,
  .ourTeam_footer_text2 {
    font-size: 3rem;
  }

  .slide-caption-library {
    font-size: 1rem;
    bottom: 15px;
  }

  .timeline-list h3 {
    font-size: 1rem;
  }
  .timeline-list p {
    font-size: 0.6rem;
  }

  .timeline-date {
    font-size: 0.8rem;
  }

  .timeline ul li span {
    font-size: 0.5rem;
  }

  .timeline ul li {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  #trapezium {
    width: 55%;
  }
  .menu__main {
    flex-direction: column;
  }

  .header__title {
    flex: 1;
  }

  .header__title p {
    font-size: 1rem;
  }

  .header__title h1 {
    font-size: 25px;
  }

  .logo__social__network {
    flex: 1;
    flex-direction: row;
    gap: 20px;
  }

  .box__cut {
    width: 60%;
  }

  .contact__content {
    justify-content: center;
    flex-wrap: wrap;
  }

  /* new */

  .news {
    height: 2550px;
  }

  .news__items {
    width: 80%;
  }

  .news__title p {
    display: none;
  }

  /* skills */

  .skills-content {
    padding: 0 10px;
    top: 4%;
  }

  /* content-title */
  #content-title {
    font-size: 1rem;
  }

  #content-text,
  #linkGithub,
  #linkFTP {
    font-size: 0.8rem;
  }

  .timeline-image {
    height: 20%;
  }
  /* footer */
  .footer__item__right iframe {
    display: none;
  }

  .footer__item__center {
    width: 30%;
  }

  .footer__item__right {
    width: 50%;
  }

  .footer__logo {
    display: block;
    margin-right: 20px;
  }

  .items__bottom p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .items__bottom h4 {
    font-size: 1.2rem;
  }

  .contact__item {
    flex: 0 0 50%;
  }

  .my-project-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .slide-library {
    flex: 0 0 33.33%;
  }
  .slide-library img {
    object-fit: contain;
  }
}

@media only screen and (max-width: 600px) {

  #trapezium {
    width: 70%;
  }
  /* about us */
  .about-me__vector {
    display: none;
  }

  .about-me__logo {
    padding-left: 20px;
  }

  .about-me__logo p {
    font-size: 16px;
  }

  .contact__item {
    flex-direction: row;
    flex: 1;
  }

  .contact__item a {
    font-size: 0.675rem;
  }

  .contact__item i {
    font-size: 1.125rem;
    margin: 0 10px 0 0;
  }

}

@media screen and (max-width: 425px) {
  /* header */
  #trapezium {
    width: 75%;
  }

  .about-me__right p {
    font-size: 0.875rem;
  }

  .logo {
    bottom: 0%;
    left: 0%;
  }

  .logo p {
    display: none;
  }

  .header__title h1 {
    font-size: 20px;
  }

  .header__menu {
    border-bottom: none;
  }

  .header__banner {
    padding-top: 0;
  }

  .about-me__logo p {
    font-size: 15px;
  }

  .about-me__item {
    width: 80%;
    right: 10%;
  }
  /* news */

  .news__items {
    width: 90%;
  }

  .skills-content {
    padding: 0 10px;
  }

  /* contact */
  .contact {
    align-items: flex-start;
  }

  .contact__content {
    flex-wrap: wrap;
  }

  .about-me__vector {
    display: none;
  }

  .about-me__logo {
    padding-left: 25px;
  }

  .about-me__item {
    height: 40%;
  }

  .footer {
    height: 375px;
  }

  .footer__logo {
    display: none;
  }

  .footer__item__center {
    width: 40%;
  }

  .footer__item__right {
    width: 60%;
  }

  a.cd-top {
    right: 10px;
  }

  .my-project-content {
    grid-template-columns: 1fr;
  }

  .menu__items a {
    font-size: 12px;
  }
  
  .slide-library {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 375px) {
  .menu__main {
    margin-top: 50px;
  }

  .header__title h1 {
    margin-bottom: 50px;
  }

  .logo__social__network {
    display: flex;
    flex-direction: row;
  }

  .logo__social__network a {
    margin-right: 45px;
  }

  /* about-me */
  .about-me__logo {
    padding-left: 10px;
    padding-top: 15px;
  }

  .about-me__left {
    margin-bottom: 50px;
  }
  /* news */
  .news {
    height: 2300px;
  }

  .news__items {
    width: 100%;
    height: 450px;
  }

  .picture__item {
    padding-left: 10px;
  }

  .picture__item h5 {
    margin-bottom: 0;
  }
  /* contact */

  .contact__item {
    flex: 0 0 100%;
    margin-left: 0;
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .picture__item h5 {
    font-size: 1rem;
  }

  .footer__item__center {
    display: none;
  }

  .footer {
    height: 225px;
  }

  .footer__top {
    height: 320px;
    padding-top: 20px;
  }

  .footer__item__right {
    width: 100%;
  }
}
/* slider and js */

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

@media (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }

  .btn-close {
    position: fixed;
    right: 20px;
    top: 50px;
    margin-left: 20px;
    font-size: 20px;
    outline: none;
    border: none;
  }

  .navbar-collapse {
    z-index: 25;
    position: fixed;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 90%;
    height: 1607px;
    padding-top: 15px;
    overflow-y: auto;
    visibility: hidden;
    background-color: #daedff;
    transition: visibility 0.2s, transform 0.2s ease;
    transition: 0.7s;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  li.active-item a::before {
    display: none;
  }

  li.active-content a:hover {
    color: red;
  }

  .menu__items ul {
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  .menu__items li {
    margin-bottom: 10px;
  }

  .menu__items a {
    color: #000;
  }

  .menu__items a:hover {
    color: red;
  }

  .items__top,
  .items__bottom {
    padding: 10px;
  }
}
