@import url("./body.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./responsive.css");
@import url("./owl.carousel.min.css");
@import url("./owl.theme.default.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
  transition: transform 0.5s ease-in-out;
}

.buttonCustom {
  color: #fff;
  background-color: #265bc5;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.buttonCustom:hover {
  background-color: #fff;
  color: #265bc5;
  outline: solid 1px #265bc5;
  /* transform: scale(1.1); */
}

a {
  text-decoration: none;
}

.titleSection {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .titleSection {
    font-size: 1rem;
  }
}
